@font-face {
  font-family: "Raleway";
  src: url("/src/assets/fonts/Raleway-VariableFont_wght.ttf");
}

.heroSection__container {
  font-family: "Raleway";
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 1440px;
  height: 700px;
  padding: 110px 82px;
  box-sizing: border-box;
  transition: background-image 1.5s ease-in-out;
  z-index: 1;
}

/* This code is no longer in use but it will stay here as a reminder for the future that I tested applying an effect to an item gaining a temporary class  If uncommented the property will work again as I did not remove the class-giving property in Home.jsx */

/* .heroSection--withOpacity::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 252, 237, 0.4);
  z-index: 1;
  pointer-events: none;
} */

.heroSection__text {
  font-size: 20px;
  font-weight: 600;
  color: #1e1b26;
  flex: 0 0 485px;
  height: 425px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  align-items: flex-start;
  margin-left: 25px;
}

.heroSection__text h2 {
  font-size: 40px;
  font-weight: 800;
  color: #1e1b26;
  margin-bottom: 14px;
  text-shadow: 6px 6px 12px rgba(0, 0, 0, 0.6);
}

.heroSection__text p {
  margin: 0;
  display: inline-block;
  text-shadow: 6px 6px 12px rgba(0, 0, 0, 0.6);
}

.typing__effect__container {
  height: 325px;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.typing__effect__text {
  margin: 0;
  white-space: normal;
  word-wrap: break-word;
  line-height: 1.5;
}

@keyframes fadeInLetter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.heroSection__button {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 18px;
  width: 200px;
  height: 60px;
  background-color: #bc6f2b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
  align-self: flex-start;
  flex-shrink: 0;
}

.heroSection__button:hover {
  background-color: #47313e;
}

.heroSection__text h2 + p {
  margin-top: 14px;
}

.typing__effect__container {
  height: 325px;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.typing__effect__text {
  margin: 0;
  white-space: normal;
  word-wrap: break-word;
  line-height: 1.5;
}

.carousel {
  position: relative;
  z-index: 2;
  flex: 0 0 670px;
  height: 480px;
  margin-left: 68px;
}

.quote__container {
  position: relative;
  background-color: #fffced;
  max-width: 1440px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 132px 107px;
  box-sizing: border-box;
  overflow: hidden;
}

.quote__content {
  font-family: "raleway";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.quote__text {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 23px;
}

.quote__portrait {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.quote__portrait img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.quote__author {
  margin-top: 20px;
  font-weight: 400;
  font-size: 14px;
}

.quote__graphics {
  position: absolute;
  bottom: 0;
  right: 0;
}

.quote__rectangle__first {
  position: absolute;
  bottom: 0;
  right: 138px;
  width: 55px;
  height: 145px;
  background-color: #d7c2ad;
  box-shadow: 4px 0px 12px 0px #00000040;
}

.quote__rectangle__second {
  position: absolute;
  bottom: 0px;
  right: 96px;
  width: 281px;
  height: 54px;
  background-color: #193d61;
  box-shadow: 4px 0px 12px 0px #00000040, inset 0px -1px 0px 0px #193d61;
  z-index: 2;
}

.quote__rectangle__third {
  position: absolute;
  bottom: 0px;
  right: 340px;
  width: 56px;
  height: 81px;
  background-color: #bc6f2b;
  box-shadow: 4px 0px 12px 0px #00000040;
  z-index: 2;
}

.cta__section {
  font-family: "Raleway";
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fffced;
  position: relative;
  overflow: hidden;
}

.cta__section h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 8px;
}

.cta__section p {
  font-size: 20px;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 35px;
}

.cta__section__button {
  font-family: "Raleway";
  background-color: #bc6f2b;
  color: white;
  padding: 8px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 700;
  transition: background-color 0.5s ease;
  text-decoration: none;
}

.cta__section__button:hover {
  background-color: #47313e;
}

.cta__graphics__top {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}

.cta__rectangle__top__first,
.cta__rectangle__top__second,
.cta__rectangle__top__third {
  position: absolute;
  top: 0;
  box-shadow: 4px 0px 12px 0px #00000040;
}

.cta__rectangle__top__first {
  left: 151px;
  width: 55px;
  height: 289px;
  background-color: #d7c2ad;
  z-index: 1;
}

.cta__rectangle__top__second {
  left: 216px;
  width: 297px;
  height: 208px;
  background-color: #193d61;
}

.cta__rectangle__top__third {
  left: 523px;
  width: 55px;
  height: 133px;
  background-color: #bc6f2b;
}

.cta__graphics__bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
}

.cta__rectangle__bottom__first,
.cta__rectangle__bottom__second,
.cta__rectangle__bottom__third {
  position: absolute;
  bottom: 0;
  box-shadow: 4px 4px 8px 0px #00000040;
}

.cta__rectangle__bottom__first {
  right: 168px;
  width: 294px;
  height: 58px;
  background-color: #d7c2ad;
}

.cta__rectangle__bottom__second {
  right: 140px;
  width: 55px;
  height: 131px;
  background-color: #193d61;
  z-index: 1;
}

.cta__rectangle__bottom__third {
  right: 214px;
  width: 181px;
  height: 94px;
  background-color: #bc6f2b;
  z-index: 1;
}
