@font-face {
  font-family: "Raleway";
  src: url("/src/assets/fonts/Raleway-VariableFont_wght.ttf");
}

.projects__container {
  font-family: "raleway";
  background-color: #fffced;
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 96px;
  padding-bottom: 140px;
  box-sizing: border-box;
  align-items: flex-start;
  position: relative;
  overflow: hidden;
}

.projects__title {
  font-weight: 500;
  font-size: 28px;
  color: #1e1b26;
  margin-top: 97px;
  margin-bottom: 0;
  line-height: 32px;
}
.projects {
  font-size: 18px;
  text-align: center;
  margin-bottom: 40px;
  color: #666;
}

.projects__title,
.projects__description {
  text-align: left;
  width: 100%;
  max-width: 891px;
}

.projects__description {
  font-size: 18px;
  font-weight: 400;
  margin-top: 49px;
  margin-bottom: 31px;
  line-height: 27px;
}

.project__card {
  width: 370px;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 15px;
  margin-bottom: 82px;
}

.project__card__image {
  width: 370px;
  height: 370px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.project__card__title {
  font-weight: 700;
  font-size: 30px;
  margin: 0;
}

.project__card__description {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}

.projects__row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 69px;
  width: 100%;
}

.project__card__horizontal {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 91px;
}

.project__card__horizontal__image {
  width: 809px;
  height: 282px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
  margin-right: 70px;
}

.project__card__horizontal__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project__card__horizontal__title {
  font-weight: 700;
  font-size: 30px;
  margin: 0;
}

.project__card__horizontal__description {
  font-size: 18px;
  font-weight: 400;
  margin-top: 14px;
}

.projects__graphics {
  position: absolute;
  right: 0;
  top: 0;
}

.projects__rectangle__first {
  position: absolute;
  right: 138px;
  width: 55px;
  height: 267px;
  background-color: #d7c2ad;
  box-shadow: 4px 4px 8px 0px #00000040;
  z-index: 41;
}

.projects__rectangle__second {
  position: absolute;

  right: 96px;
  width: 281px;
  height: 152px;
  background-color: #193d61;
  box-shadow: 4px 4px 8px 0px #00000040;
}

.projects__rectangle__third {
  position: absolute;
  right: 340px;
  width: 56px;
  height: 105px;
  background-color: #bc6f2b;
  box-shadow: 4px 4px 8px 0px #00000040;
  z-index: 1;
}
